table, td, th{
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    text-align: center; 
}
.tableContainer{
    width: 75%;
    justify-self: center;
    table-layout: fixed;
}
th{
    font-size: 9px;
}
caption {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 0px;
}
.heure{
    font-weight: bold;
}
thead tr{
    background-color: rgb(242, 242, 242);
}
.tableDevoir thead tr{
    background-color: rgb(191, 191, 191);
}
.nomProf, .nomProf td{
    font-style: italic;
    font-size: 9px; 
    padding: 5px;
    border-top: 0px solid black;
    border-bottom: 0px;
}
.salleCours{
    background-color: rgb(216, 216, 216); 
    font-style: italic;
    font-size: 9px; 
    padding: 0px;
    border-top: 0px solid black;
}
.salleCours td{
    padding: 3px;
    border-top: 0px solid black;
}
.matiere{
    padding-bottom: 25px;
}
.matiere, .matiere td{
    border-bottom: 0px solid black;
}
.horaire{
    font-weight: bold;
    padding-top: 30px;

}
.ligneCours{
    vertical-align: top;
    padding-bottom: 15px;
}
.tableDevoir{
    font-size: 12px; 
 
    table-layout: fixed;
}
.tableCours{
    font-size: 10px; 
    table-layout: fixed;
    font-family: Arial;
}
.coursModif{
    background-color: yellow;
}
.filiere{
    text-align: right; 
    color: rgb(0, 112, 191);
    padding-right: 50px;
    padding-bottom: 0px;

}
.emploi{
    text-align: center; 
    font-style: italic; 
    font-weight: 100;
    font-family: "Edwardian Script ITC", cursive;
}